nav{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.links{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.hamburguesa{
    display: none;
}

@media (max-width: 768px) {
  .hamburguesa{
    display: block;
  }

  .links{
    display: none;
  }

  .links.abierto{
    display: flex;
    flex-direction: column;
  }
}